body{background-color: #18222c; margin:0; padding:0;
  font-family:'Mochiy Pop One',sans-serif;}

*{  
    margin: 0;
    padding: 0;
    font-family:'Mochiy Pop One',sans-serif;}
  
  #mainNavbar{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #091720
  }
   
  nav:after{
    content: '';
    clear: both;
    display: table;
  }
   
  nav .logo{
    float: left;
    padding-left: 60px;
  }
   
  #headerLogo{
    width: 200px;
    margin: 15px 0;
  }
   
  nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
  }
   
  nav ul li{
    display: inline-block;
    background-color: #091720;
    margin: 15px 15px;
  }
   
  nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
   
  }
   
  nav ul li a:hover{
    color: #f66b01;
    border-radius: 5px;
    box-shadow: 0 0 5px #f66b01,0 0 5px #f66b01;
  }
   
  nav ul ul li a:hover{
    color: #f66b01;
    box-shadow: none;
  }
   
  nav ul ul{
    position:absolute;
    top:90px;
    border-top: 3px solid #f66b01;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
  }
   
  nav ul ul ul{
    border-top: none;
  }
   
  nav ul li:hover > ul{
    top:70px;
    opacity: 1;
    visibility: visible;
  }
   
  nav ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }
   
  nav ul ul li a{
    line-height: 50px;
  }
   
  nav ul ul ul li {
    position: relative;
    top: -70px;
    left: 150px;
  }
   
  span .fa-plus{
    margin-left: 40px;
    font-size: 15px;
  }
   
  .show, .icon,.chkboxnav{
    display: none;
  }
   
  @media all and (max-width: 1200px) {
    nav ul{
      margin-right: 0;
      float: left;
    }
   
    nav .logo{
      padding-left: 30px;
      width: 100%;
    }
   
    nav ul li, nav ul ul li{
      display: block;
      width:100%;
    }
   
    nav ul ul{
      top: 70px;
      position: static;
      border-top: none;
      float: none;
      display: none;
      opacity: 1;
      visibility: visible;
    }
   
    nav ul ul ul li{
      position: static;
    }
   
    nav ul ul li{
      border-bottom: 0px;
    }
   
    nav ul ul a{
      padding-left: 40px;
    }
   
    nav ul ul ul a{
      padding-left: 80px;
    }
   
    .show{
      display: block;
      color: white;
      font-size: 18px;
      padding: 0 20px;
      line-height: 70px;
      cursor: pointer;
      
    }
   
    .show:hover{
      color: #f66b01;
    }
   
    .icon{
      display: block;
      color: white;
      position: absolute;
      right: 40px;
      line-height: 70px;
      font-size: 25px;
      cursor: pointer;
      z-index: 1;
    }
   
    nav ul li a:hover{
      box-shadow: none;
    }
   
    .show + a,ul{
      display: none;
    }
    [id^=btn]:checked + ul{
      display: block;
    }
  }
  
.BannerHome{background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../image/BannerHome.jpg); width:100%; height:220px; padding-top:40px;background-position: center; background-size:auto; position:relative; z-index: -1;}
.BHTXT{text-align: center; color: #efefef; font-size: 120px;}

div#vid{background-color:#304254;}

#progress{
    background-color: #03CC65;
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
 
#progress-value{
    display:block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #FFFFFF;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color:#001A2E
}






video{width:95%; padding: 20px; margin:0 ; text-align: center;}

h1{ font-size: 36px;}


h1.WAW{text-align: center; color:aliceblue}
h1.WAW:hover{transform: scale(1.2);}
p.WAW{color:aliceblue; text-align: center;}
.italic{font-size: 16px;}

h1.HS{text-align: center; color:aliceblue}


.carousel {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}


.cwu{ color:
  #FFFFFF;
  text-align: center;
  
}

.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 800px;
  height: 500px;
}

/*Css for manual slide navigation*/

.navigation-manual {
  position: absolute;
  width: 800px;
  margin-top:-40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~.first {
  margin-left: 0;
}

#radio2:checked ~.first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/* CSS For automatic Navigation*/
.navigation-auto{
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}










a.CM{color: pink; text-decoration: none; font-size: 24px;}

.parent {
    display: grid;
    grid-template-columns:0.5fr repeat(2, 3fr) 0.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 12px;
    grid-row-gap: 0px;}

.parent { grid-area: 1 / 1 / 2 / 5; }
.Events { grid-area: 1 / 2 / 2 / 3; background-color: #304254; border-radius: 10px; }
img.EP{width:100%;}
h1.EP{color:aliceblue; text-align: center;}
div.EP{color:aliceblue;text-align: center; }
.wed { grid-area: 1 / 3 / 2 / 4;background-color: #304254; border-radius: 10px;}
img.W{width: 100%;}
h1.W{color:aliceblue; text-align: center;}
div.W{color:aliceblue;text-align: center; }



img#hotsellers{width:100%; height:100%}

article.Cust{padding-top:10%; padding-bottom: 5%;}






.ImgRev{text-align: center;}
.Rev{width:100%}

.CustReviews{
  width: 90px;
  height: 30px;
  margin-left: 45%;
  margin-top: 2%;
  border: none;
  
  text-align: center;
  text-decoration: none;
  outline: none;
  border-radius: 100px;
}

.CustReviews:hover{
  display: block;
  width: 5%;
  height: 30px;
  background-color: #4f5d75;
  box-shadow: 10px 10px 5px  rgba(0,0,0,0.3);
}

i{font-size: 50px; color: beige;}
i:hover{transform: scale(1.2);}


footer{background-color: #091720; width:100%; padding: 0;}
h1.F{color:rgb(188, 188, 187); font-size: 18px; text-decoration: none;}

a.F{color:white; font-size: 14px; text-decoration: none; }
a.F:hover{color:#f66b01}


img.btmlogo{width:70%; padding-left: 20%; padding-top: 15%; }


.foot {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.btmlogo{ grid-area: 1 / 1 / 2 / 2; }
.parentf { grid-area: 1 / 2 / 2 / 3;; padding-left: 30%; padding-top:  1%;}
.parentf2 { grid-area: 1 / 3 / 2 / 4;padding-top:  7%;}
.SM { grid-area: 1 / 4 / 2 / 5; padding-top: 3%;}
.btmp{color:#FFFFFF}




@media only screen and (max-width:1200px){
.BannerHome{background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(BannerHome.jpg); width:100%; height:180px; padding-top: 80px;background-position: center; background-size:auto; position:relative; z-index: -1;}
.BHTXT{text-align: center; color: #ffffff; font-size: 80px;}

}


 

@media only screen and (max-width:767px){div#vid>video { width: 95%;}
.BannerHome{background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(BannerHome.jpg); width:100%; height:160px; padding-top: 100px;background-position: center; background-size:auto; position:relative; z-index: -1;}
.BHTXT{text-align: center; color: #ffffff; font-size: 50px; }
img.btmlogo{width:70%; padding-left: 20%; padding-top: 15%; }



.btmlogo{ grid-area: 1 / 1 / 2 / 2; width:100% ; padding-left:140% ; padding-bottom: 10%;}
.parentf { grid-area: 2 / 1 / 3 / 2;; padding-left: 100%; width:100%;padding-bottom: 10%;}
.parentf2 { grid-area: 2 / 2 / 2 / 4;padding-top:  7%; width:100%; padding-left: 70%; padding-bottom: 10%;}
.SM { grid-area: 4 / 1 / 5 / 2; padding-top: 5%; width:100%; padding-left: 155%;}
.btmp{color:#FFFFFF;font-size: 9px; }

h1.F{color:rgb(188, 188, 187); font-size: 18px; text-decoration: none;padding-left: 13%; }
i{font-size: 20px; color: white; padding-left: 10%;}
i:hover{transform: scale(1.5);}


.carousel{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex ;
  justify-content: center ;
  align-items: center ;
  
}


.cwu{ color:
  #FFFFFF;
  text-align: center;
}

.slider {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input {
  display: none;
}

.slide {
  width: 20%;
  transition: 2s;
}

.slide img {
  width: 500px;
  height: 300px;
}

/*Css for manual slide navigation*/

.navigation-manual {
  
  position:absolute;
  width: 800px;
  margin-top:-40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  display: none;
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #40D3DC;
}

#radio1:checked ~.first {
  margin-left: 0;
}

#radio2:checked ~.first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

#radio4:checked ~ .first {
  margin-left: -60%;
}

/* CSS For automatic Navigation*/
.navigation-auto{
  
  position: absolute;
  display: flex;
  width: 800px;
  justify-content: center;
  margin-top: 460px;
}

.navigation-auto div{
  display: none;
  border: 2px solid #40D3DC;
  padding: 5px;
  border-radius: 10px;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background: #40D3DC;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background: #40D3DC;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background: #40D3DC;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background: #40D3DC;
}


}

