*{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Mochiy Pop One', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

h1,h2{
    margin: 0;
}

audio::-webkit-media-controls-panel {
    background-color: #56AEFF;
    display:flex;
  }

#progress{
    background-color: #03CC65;
    position: fixed;
    bottom: 20px;
    right: 10px;
    height: 70px;
    width: 70px;
    display: none;
    place-items: center;
    border-radius: 50%;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    z-index: 1;
}

#progress-value{
    display:block;
    height: calc(100% - 15px);
    width: calc(100% - 15px);
    background-color: #FFFFFF;
    border-radius: 50%;
    display: grid;
    place-items: center;
    font-size: 35px;
    color:#001A2E
}

/*New Main Navbar CSS */
#mainNavbar{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #091720;
  }
  
  nav:after{
    content: '';
    clear: both;
    display: table;
  }
  
  nav .logo{
    float: left;
    padding-left: 60px;
  }
  
  #headerLogo{
    width: 200px;
    margin: 15px 0;
  }
  
   nav ul{
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
  }
  
  nav ul li{
    display: inline-block;
    margin: 15px 15px;
  }
  
  nav ul li a{
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
  }

  nav ul li a:hover{
    color: #F66B0E;
    border-radius: 5px;
    box-shadow: 0 0 5px #F66B0E,0 0 5px #F66B0E;
  }
  
  nav ul ul li a:hover{
    color: #F66B0E;
    box-shadow: none;
  }
  
  nav ul ul{
    position:absolute;
    top:90px;
    border-top: 3px solid #F66B0E;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
  }
  
  nav ul ul ul{
    border-top: none;
  }
  
  nav ul li:hover > ul{
    top:70px;
    opacity: 1;
    visibility: visible;
  }
  
  nav ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    background-color: #091720;
  }
  
  nav ul ul li a{
    line-height: 50px;
  }
  
  nav ul ul ul li {
    position: relative;
    top: -70px;
    left: 150px;
  }
  
  span .fa-plus{
    margin-left: 40px;
    font-size: 15px;
  }
  
  .show, .icon,input{
    display: none;
  }


  
  @media all and (max-width: 1200px) {
    nav ul{
      margin-right: 0;
      float: left;
    }
  
    nav .logo{
      padding-left: 30px;
      width: 100%;
    }
  
    nav ul li, nav ul ul li{
      display: block;
      width:100%;
    }
  
    nav ul ul{
      top: 70px;
      position: static;
      border-top: none;
      float: none;
      display: none;
      opacity: 1;
      visibility: visible;
    }
  
    nav ul ul ul li{
      position: static;
    }
  
    nav ul ul li{
      border-bottom: 0px;
    }
  
    nav ul ul a{
      padding-left: 40px;
    }
  
    nav ul ul ul a{
      padding-left: 80px;
    }
  
    .show{
      display: block;
      color: white;
      font-size: 18px;
      padding: 0 20px;
      line-height: 70px;
      cursor: pointer;
    }
  
    .show:hover{
      color: #F66B0E;
    }
  
    .icon{
      display: block;
      color: white;
      position: absolute;
      right: 40px;
      line-height: 70px;
      font-size: 25px;
      cursor: pointer;
      z-index: 1;
    }
    
    nav ul li a:hover{
      box-shadow: none;
    }
  
    .show + a,ul{
      display: none;
    }
    [id^=btn]:checked + ul{
      display: block;
    }
  }

/* Banner Style Section */
#menuBanner {
    background-image: url(../image/images/menuBanner.jpg);
    background-attachment: fixed;
    text-align: center;
    color: #EFEFEF;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#bannerCaption h1 {
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 120px;
    margin: 0;
    padding-top: 40px;
    height: 220px;
}

/*Burger Section */
#chicken {
    background-image: url("../image/images/Handsome\ Chicken\ 2.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; 


    height: 700px;
    color: beige;
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    position: relative;
}

#beef {
    background-image: url("../image/images/Handsome\ Cow.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

    height: 700px;
    color: beige;
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    position: relative;
}

#fish {
    background-image: url("../image/images/school\ of\ fish\ 2.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 

    height: 700px;
    color: beige;
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    position: relative;
}

#vegan {
    background-image: url("../image/images/vegan\ background.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover; 

    height: 700px;
    color: beige;
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    position: relative;
}

.price{
    color: #32CD32;
}

.vegeprice {
    color: #E7F59D;
}

.burgerName {
    color: #D2AC47;
}

.vegeburgerName {
    color: #95EFA8 ;
}

.meatText{
    position: relative;
    color: #E1CEB1;
    font-size: 50px;
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    box-shadow: inset 0 0 15px 5px rgb(0 0 0 / 75%);
    background-color: rgba(50, 50, 50, 1);
}

.vegeText {
    color: #CAECCF;
    font-size: 50px;
    box-shadow: inset 0 0 15px 5px rgb(0 0 0 / 75%);
    background-color: rgba(56, 124, 68 ,1);
}

.column{
    float: left;
    width: 33.33%;
}

.menu-item {
    max-width: 250px;
    max-height: 250px;
    margin: 50px;
    border-radius: 40px;
    transition: transform .2s; /* Animation */
}

.menu-item:hover {
    transform: scale(1.4);
}

.addToCartButton {
    border-width: 0;
    height: 50px;
    width: 150px;
    border-radius: 30px;
    background-color: #EF8354;
    font-family: 'Mochiy Pop One', sans-serif;
}

.addToCartButton:hover{
    color: white;
    background-color:#036704;
}

/* Footer CSS Section */
footer{
    background-color: #091720; 
    width:100%; 
    padding: 14px 0px;
}

i{
  font-size: 50px; 
  color: white; ;
}

i:hover{
  transform: scale(1.2);
  color:#F66B0E;
}

h1.F{
    color:rgb(188, 188, 187); 
    font-size: 18px; 
    text-decoration: none;
}
 
a.F{
    color:white; 
    font-size: 14px; 
    text-decoration: none;
}

a.F:hover{
    color:#F66B0E;
}
 
address{
    color: antiquewhite; 
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
}

img.btmlogo{
    width:70%; 
    padding-left: 20%; 
    padding-top: 15%; 
}

.foot {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
   
.btmlogo{ 
    grid-area: 1 / 1 / 2 / 2; 
}

.parentf { 
    grid-area: 1 / 2 / 2 / 3; 
    padding-left: 30%;
}

.parentf2 { 
    grid-area: 1 / 3 / 2 / 4;
    padding-top:  10%;
}

.SM { 
    grid-area: 1 / 4 / 2 / 5; 
    padding-top: 3%;
}

.btmp{
  color: white;
}

.add-cart{  
  /* add cart link deco */
  border-radius: 30px;
  text-decoration: none;
  padding:10px;
  color: white;
  background-color: #e50000;
  font-family: 'Mochiy Pop One', sans-serif;
}
.add-cart:hover{
  color: white;
  background-color: #036704;
}


@media screen and (max-width: 1200px) {
#bannerCaption h1 {
  font-family: 'Mochiy Pop One', sans-serif;
  font-size: 80px;
  padding-top: 80px;
  height: 180px;
}

.menu-item {
  max-width: 200px;
  max-height: 200px;
  margin: 20px;
}

.menu-item:hover {
  transform: scale(1.2);
}


#chicken{
  height: 600px;
}

#beef{
  height: 600px;
}

#fish{
  height: 600px;
}

#vegan{
  height: 600px;
}
 
}

@media screen and (max-width: 650px) {
  #promotionBanner h1 {
    font-size: 50px;
    padding-top: 100px;
    height: 160px;
  }

.menu-item {
  max-width: 125px;
  max-height: 125px;
  border-radius: 10px;
  margin: 20px;
}

.menu-item:hover {
  transform: none;
}

.burgerName {
  color: #D2AC47;
  font-size: 15px
}
.price {
  color: #32CD32;
  font-size: 15px;
}

.vegeburgerName {
  color: #95EFA8;
  font-size: 15px
}

.vegeprice {
  color: #E7F59D;
  font-size: 15px;
}

.burgerDescription{
  display: none;
}

#chicken{
  height: 450px;
}

#beef{
  height: 450px;
}

#fish{
  height: 450px;
}

#vegan{
  height: 450px;
}

/*Footer */
.btmlogo{ 
  grid-area: 1 / 1 / 2 / 2; 
  width:100% ; 
  padding-left:140% ; 
  padding-bottom: 10%;
}
.parentf { 
  grid-area: 2 / 1 / 3 / 2;; 
  padding-left: 100%; 
  width:100%;
  padding-bottom: 10%;
}
.parentf2 { 
  grid-area: 2 / 2 / 2 / 4;
  padding-top:  7%; 
  width:100%; 
  padding-left: 70%; 
  padding-bottom: 10%;
}

.SM { 
  grid-area: 4 / 1 / 5 / 2; 
  padding-top: 5%; 
  width:100%; 
  padding-left: 155%;
}
.btmp{
  color:#FFFFFF; 
}
 
h1.F{
  color:rgb(188, 188, 187); 
  font-size: 18px; 
  text-decoration: none;
  padding-left: 13%;
}

i{
  font-size: 20px; 
  color: beige; 
  padding-left: 10%;
}
i:hover{
  transform: scale(1.5);
}
}

